<div class="product {{marginTopClass}}" >
<div class="product-main">
  <h1 class="product-main-title">{{title}}</h1>
  <div class="product-main-arrow" [hidden]="!buttonScroll">
    <button class="prev" (click)="scrollCardsLeft()"><img src="assets/img/icons/arrow-prev-icon.svg" alt=""></button>
    <button class="next" (click)="scrollCardsRight()"><img src="assets/img/icons/arrow-next-icon.svg" alt=""></button>
  </div>
</div>

  <div class="cards" [class.cards--flex-wrap]="flexWrap">
    <div
      class="card"
      [class.cards--flex-wrap]="flexWrap"
      *ngFor="let product of products | filterProducts: textFilter | paginate: { itemsPerPage: (chooseItemsOnPageService.currentPage$ | async)!, currentPage: currentPage, totalItems: products.length }"
    >
      <img [src]="'assets/' + product.image" alt="{{ product.name }}">
      <h2>{{ product.name }}</h2>
      <div class="price-container">
        <div class="actual-price">${{ product.price | number:'1.0-0' }}</div>

        <div class="old-price"  [hidden]="!oldPrice">${{ product.fullPrice | number:'1.0-0' }}</div>

      </div>


      <div class="card-info">
        <div class="card-info-container">
          <p>Screen</p>
          <p>{{ product.screen }}</p>
        </div>
        <div class="card-info-container">
          <p>Capacity</p>
          <p>{{ product.capacity }}</p>
        </div>
        <div class="card-info-container">
          <p>RAM</p>
          <p>{{ product.ram }}</p>
        </div>
      </div>

      <div class="card-buttons">
        <div class="card-button-add">Add to cart</div>
        <div
          class="heart-icon"
          (click)="addToFavorite(product, $event)"
          [ngClass]="{ 'heart-icon--active': favoriteGoodsService.isFavorite(product.id) }"
        ></div>
      </div>
    </div>

  </div>
  <div class="pagination-controls">
    <pagination-controls
      (pageChange)="onPageChange( $event)"
      class="pagination"
      #paginationControls
    ></pagination-controls>
  </div>
</div>
