h1 {
  font-size: 32px;
}

.home-page {
  padding: 0 30px;
}

.shop-category {
  margin: 80px auto 0;
  max-width: 1136px;

  &-cards {
    margin-top: 26px;
    display: flex;
  }

  &-card {

    &:not(:last-child) {
      margin-right: 16px;
    }

    img {
      max-width: 368px;
      max-height: 368px;
      object-position: top;
    }
  }

  &-name {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--grayPrimary);
  }

  &-quantity {
    margin-top: 8px;
    font-size: 14px;
    color: var(--graySecondary);
  }
}

@media (max-width: 1200px) {
  .shop-category {
    max-width: 867px;

    &-cards {
      justify-content: center;
    }

    &-card {
      img {
        max-width: 275px;
        max-height: 275px;
      }
    }
  }
}

@media (max-width: 927px) {
  .shop-category {
    max-width: 289px;



    &-card {
      img {
        max-width: 175px;
        max-height: 175px;
      }
    }
  }
}

@media (max-width: 620px) {
  .shop-category {
    max-width: 578px;

    h1 {
      text-align: center;
    }

    &-name {
      margin-top: 15px;
    }

    &-cards {
      flex-wrap: wrap;
    }

    &-card {

      &:not(:first-child) {
        margin-top: 26px;
      }

      img {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }
}
