<app-small-navigation></app-small-navigation>

<div class="small-navigation">
  <a routerLink="/phones">
    <img  class="small-navigation__item" src="./assets/img/icons/arrow-prev-icon.svg" alt="">
    <span class="small-navigation__item link">Back</span>
  </a>
</div>

<div class="product-details" *ngIf="productDetailInfo">
    <h1>{{ productDetailInfo.name }}</h1>
  <div class="product-details__container">
    <div class="product-details__images">
      <div class="product-details__images-small-container" >
        <img
          class="product-details__images-small"
          *ngFor="let image of productDetailInfo.images"
          [src]="'./assets/' + image" alt="phones"
          (click)="chooseImg($event)"
        >
      </div>
      <div >
        <img class="product-details__images-main" [src]="'./assets/' + productDetails.image" alt="">
      </div>
    </div>
    <div class="product-details__main-information">
      <div class="product-details__colors">
        <p>Available colors</p>
        <div class="product-details__colors-container">
          <div class="product-details__colors-circle" *ngFor="let circle of productDetailInfo.colorsAvailable">
            <div class="product-details__colors-circle-background" title="{{circle}}" [style.background-color]="getColor(circle)">
            </div>
          </div>
        </div>
      </div>
      <div class="product-details__line"></div>

      <div class="product-details__memory">
        <p>Select capacity</p>
        <div class="product-details__memory-category">
          <div *ngFor="let capacity of productDetailInfo.capacityAvailable; let i = index">
            <input
              type="radio"
              name="memoryPhone"
              [id]="capacity"
              [value]="capacity"
              [checked]="i == 0"
            >
            <label [for]="capacity">
              <div>
                {{capacity}}
              </div>
            </label>
          </div>
        </div>

      </div>

      <div class="product-details__line"></div>

      <div class="product-details__price">
        <p class="product-details__price--regular">${{productDetailInfo.priceRegular}}</p>
        <p class="product-details__price--discount">${{productDetailInfo.priceDiscount}}</p>
      </div>

      <div class="card-buttons">
        <div
          class="card-button-add"
          (click)="addToCart(productDetails, $event)"
          [ngClass]="{'card-button-add--active': favoriteGoodsService.isAddedToCart(productDetails.id) }"
        >
          Add to cart
        </div>
        <div
          class="heart-icon"
          (click)="addToFavorite(productDetails, $event)"
          [ngClass]="{ 'heart-icon--active': favoriteGoodsService.isFavorite(productDetails.id) }"
        ></div>
      </div>

      <div class="product-details__info">
        <div class="product-details__major-info">
          <p>Screen</p>
          <p>{{productDetailInfo.screen}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Resolution</p>
          <p>{{productDetailInfo.resolution}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Processor</p>
          <p>{{productDetailInfo.processor}}</p>
        </div>
        <div class="product-details__major-info">
          <p>RAM</p>
          <p>{{productDetailInfo.ram}}</p>
        </div>
      </div>
    </div>
    <div class="product-details__id">
      ID: {{getRandomID()}}
    </div>
  </div>

  <div class="product">

    <div class="product-about" >
      <h3>About</h3>
      <div class="product-details__line"></div>
      <div *ngFor="let desc of productDetailInfo.description">
        <h4>{{ desc.title }}</h4>
        <p>{{ desc.text }}</p>
      </div>
    </div>

    <div class="product-tech">
      <h3>Tech specs</h3>
      <div class="product-details__line"></div>
      <div class="product-details__info">
        <div class="product-details__major-info">
          <p>Screen</p>
          <p>{{productDetailInfo.screen}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Resolution</p>
          <p>{{productDetailInfo.resolution}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Processor</p>
          <p>{{productDetailInfo.processor}}</p>
        </div>
        <div class="product-details__major-info">
          <p>RAM</p>
          <p>{{productDetailInfo.ram}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Built in memory</p>
          <p>{{productDetailInfo.capacity}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Camera</p>
          <p>{{productDetailInfo.camera}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Zoom</p>
          <p>{{productDetailInfo.zoom}}</p>
        </div>
        <div class="product-details__major-info">
          <p>Cell</p>
          <p>{{productDetailInfo.cell}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-products
  title="You may also like"
  sortProduct="newProduct"
  [buttonScroll]="true"
  [marginTopClass]="'margin-top-big'"
></app-products>
