.product-details {
  max-width: 1156px;
  margin: 20px auto;

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--grayPrimary);
    max-width: 600px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }

  &__main-information {
    display: flex;
    flex-direction: column;
    color: var(--graySecondary);
    font-size: 12px;
    font-weight: 600;
    max-width: 320px;
    min-width: 320px;
  }

  &__info {
    margin-top: 32px;
  }

  &__major-info {
    display: flex;
    justify-content: space-between;

    p:last-child {
      color: var(--grayPrimary);
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__id {
    font-size: 12px;
    font-weight: 600;
    color: var(--grayIconsPlaceholders);
  }

  &__colors {
    display: flex;
    flex-direction: column;

    p {
      color: inherit;
      font-weight: inherit;
    }

    &-container {
      display: flex;
      gap: 8px;
      margin-top: 8px;
    }

    &-circle {
      width: 32px;
      height: 32px;
      border: 1px solid var(--grayPrimary);
      border-radius: 50px;
      position: relative;

      &-background {
        width: 28px;
        height: 28px;
        border-radius: 50px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-main {
      max-width: 442px;
      max-height: 442px;
      object-fit: cover;
      margin-right: 16px;
      //padding: 11px;
    }

    &-small {
      max-width: 66px;
      max-height: 66px;
      object-fit: contain;
      padding: 7px;
      border: 1px solid var(--gray);

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 16px;
        margin-right: 80px;
      }
    }
  }

  &__line {
    width: 100%;
    border: 1px solid var(--gray);
    margin: 28px auto;
  }

  &__memory {
    display: flex;
    flex-direction: column;

    p {
      color: inherit;
      font-weight: inherit;
    }

    &-category {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      input[name='memoryPhone'] {
        display: none;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0.5px solid var(--grayIconsPlaceholders);
        width: 63px;
        height: 32px;
        color: var(--grayPrimary);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      div:not(:first-child) {
        margin-left: 8px;
      }

      input:checked + label {
        background-color: var(--grayPrimary);
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__price {
    display: flex;
    gap: 8px;
    align-items: center;

    &--regular {
      color: var(--grayPrimary);
      font-size: 32px;
      font-weight: 700;
    }

    &--discount {
      color: var(--graySecondary);
      font-size: 22px;
      font-weight: 400;
      text-decoration: line-through;
    }
  }
}

.small-navigation {
  max-width: 1156px;
  margin: 24px auto 16px;

  a {
    width: 66px;
    display: flex;
    justify-content: space-evenly;
  }
}

.link {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--graySecondary);
}


.card {
  &-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  &-button-add {
    box-sizing: border-box;
    padding: 11px 47px;
    background-color: var(--grayPrimary);
    color: #ffffff;
    max-width: 263px;
    min-width: 263px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background-color: transparent;
      color: var(--greenActiveButton);
      border: 1px solid var(--gray);
    }
  }
}

.heart-icon {
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  border: 1px solid var(--grayPrimary);
  cursor: pointer;
  background: url("/assets/img/icons/heart-icon.svg") center no-repeat;

  &--active {
    background: url("/assets/img/icons/heart-red-icon.svg") center no-repeat;
  }
}
