<app-small-navigation></app-small-navigation>

<div class="small-navigation">
  <a routerLink="/phones">
    <img  class="small-navigation__item" src="assets/img/icons/arrow-prev-icon.svg" alt="">
    <span class="small-navigation__item link">Back</span>
  </a>
</div>

<div class="product-details">
    <h1>{{ productDetails.name }}</h1>
  <div class="product-details__container">
    <div class="product-details__images">
      <div class="product-details__images-small-container">
        <img class="product-details__images-small" [src]="imageSource + '00.jpg'" alt="">
        <img class="product-details__images-small" [src]="imageSource + '01.jpg'" alt="">
        <img class="product-details__images-small" [src]="imageSource + '02.jpg'" alt="">
        <img class="product-details__images-small" [src]="imageSource + '03.jpg'" alt="">
        <img class="product-details__images-small" [src]="imageSource + '04.jpg'" alt="">
      </div>
      <div >
        <img class="product-details__images-main" [src]="imageSource + '00.jpg'" alt="">
      </div>
    </div>
  </div>
</div>
