<nav class="footer">
  <div class="footer-container">
    <img routerLink="/" src="./assets/img/icons/Logo.svg" alt="Logo" class="logo">
    <div class="footer-nav">
      <a href="https://github.com/BogdanFdVlpr?tab=repositories" target="_blank">github</a>
      <a href="#">contacts</a>
      <a href="https://www.termsfeed.com/live/3ce2652d-f509-4039-98ac-31cbe738789a" target="_blank">rights</a>

    </div>
    <div class="footer-back-to-top" (click)="scrollToTop()">
      <p>Back to top</p>
      <img class="footer-icon" src="./assets/img/icons/arrow-up-icon.svg" alt="basket icon">
    </div>
  </div>
</nav>
