<div class="small-navigation">
  <a routerLink="{{lastVisitedPage}}" (click)="clearCartPageOpen()">
    <img  class="small-navigation__item" src="assets/img/icons/arrow-prev-icon.svg" alt="">
    <span class="small-navigation__item link">Back</span>
  </a>
</div>

<div class="cart">
  <h1>Cart</h1>

  <div class="cart-empty" *ngIf="products.length < 1">
    <img src="./assets/img/cart_shipping.png" alt="cart shipping">
    <h2>Your cart is currently empty</h2>
    <p>Before proceed to checkout, you must add some products to your cart.</p>
  </div>

  <div class="cart-container" *ngIf="products.length > 0">
    <div class="cart-phones">
      <div class="cart-phone" *ngFor="let product of products">
        <img class="cart-phone-clear" src="./assets/img/icons/close-icon.svg" alt="close-icon" (click)="deletePhoneFromCart(product, $event)">
        <img class="cart-phone-picture" [src]="'./assets/' + product.image" alt="{{ product.name }}">
        <p class="cart-phone-name">{{product.name}}</p>

        <div class="cart-phone__choose-quantity">
          <button class="cart-phone-minus" (click)="updateQuantity(product, false)" [disabled]="checkCartTotalAmount(product)">-</button>
          <p class="cart-phone__quantity">{{ quantities.get(product.id) }}</p>
          <button class="cart-phone-plus" (click)="updateQuantity(product, true)">+</button>
        </div>

        <p class="cart-phone__price">${{product.price}}</p>
      </div>

    </div>
    <div class="checkout-container">
      <div class="cart-price">
        <div class="cart-price__container">
          <p class="cart-price__amount">${{fullPrice}}</p>
          <p class="cart-price__quantity">Total for {{currentCartQuantity}} items</p>
        </div>
        <div class="cart-price__line"></div>
        <button (click)="checkoutFeature()">Checkout</button>
      </div>
      <div class="checkout checkout--hidden">
        <h3>
          We are sorry, but this feature is not implemented yet
        </h3>
      </div>
    </div>

  </div>


</div>
