.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.04em;
  color: var(--graySecondary);
  border-bottom: 1px solid var(--gray);
  padding: 0 0 0 24px;
  box-sizing: border-box;

  &-nav {
    display: flex;
    align-items: center;

    &__content{
      display: flex;

      a {
        padding: 27px 0;
        color: var(--graySecondary);
      }

      a:not(:first-child) {
        margin-left: 65px;
      }
    }
  }

  &-search {
    box-sizing: border-box;
    width: 327px;
    padding: 24px;
    outline: none;
    margin: -1px auto;
    border: 1px solid var(--gray);
    border-top: none;
    background: url("/assets/img/icons/search-icon.svg") 290px no-repeat;
  }
}

.header-nav__content a.active-nav,
.header-icons .header-icon.active-nav
{
  margin-bottom: -1.5px;
  border-bottom: 3px solid var(--grayPrimary);
  color: var(--grayPrimary);
}

.header-icons {
  margin: auto 0;
  display: flex;
}

.header-icon {
  padding: 22px 24px;
  height: 19px;
  width: 19px;
}

.display--none {
  display: none;
}

.favourite-badge {
  position: relative;
  top: -43px;
  left: -23px;
}

.search {
  display: none;
}

@media (max-width: 1056px) {
  .header {
    &-nav {

      &__content{
        display: flex;

        a {
          padding: 27px 0;
        }

        a:not(:first-child) {
          margin-left: 25px;
        }
      }
    }

    &-search {
      width: 200px;
      padding: 24px;
      background: url("/assets/img/icons/search-icon.svg") 170px no-repeat;

      &-button {
        background-color: transparent;
        border: none;
        padding: 22px 24px;
        cursor: pointer;
      }
    }
  }
}

.popup {
  margin-right: 15px;

  &-menu {
    display: none;
  }



}

.mat-mdc-menu-trigger {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media (max-width: 800px) {
  .search {
    display: block;
  }
  .header {
    &-nav {
      &__content {
        display: none;
      }
    }

    &-search {
      position: absolute;
      top: -65px;
      left: 0;
      right: 0;
      width: 100%;
      padding: 24px;
      background: white none;
      border: 1px solid var(--gray);

      &--active {
        top: 68px;
        transition: top 1s ease;
      }

      &-button {
        img {
          width: 19px;
          height: 19px;
        }
      }
    }

  }

  .popup {
    &-menu {
      display: block;
    }
  }

  .mat-mdc-menu-item, .mat-mdc-menu-item:visited {
    color: var(--graySecondary);
  }

  a.active-nav {
      border-bottom: 2px solid var(--grayPrimary);
  }
}
