<nav class="header" id="header">
  <div class="header-nav">
    <img src="../../../assets/img/icons/Logo.svg" alt="Logo" class="logo">
    <div class="header-nav__content">
      <a routerLink="/">HOME</a>
      <a routerLink="/phones">PHONES</a>
      <a routerLink="/tablets">TABLETS</a>
      <a routerLink="/accessories">ACCESSORIES</a>
    </div>
  </div>
  <div class="header-icons">
    <img class="header-icon" src="../../../assets/img/icons/heart-icon.svg" alt="heart icon" >
    <img class="header-icon" src="../../../assets/img/icons/basket-icon.svg" alt="basket icon">
  </div>

</nav>
