.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.04em;
  color: var(--graySecondary);
  border-bottom: 1px solid var(--gray);
  //border-top: 1px solid var(--graySecondary);
  padding: 0 0 0 24px;
  box-sizing: border-box;

  &-nav {
    display: flex;
    align-items: center;

    &__content{
      display: flex;

      a {
        padding: 27px 0;
        color: var(--graySecondary);
      }

      a:not(:first-child) {
        margin-left: 65px;
      }
    }
  }

  &-search {
    box-sizing: border-box;
    width: 327px;
    padding: 24px;
    outline: none;
    margin: -1px auto;
    border: 1px solid var(--gray);
    border-top: none;
    background: url("/assets/img/icons/search-icon.svg") 290px no-repeat;
  }
}

.header-nav__content a.active-nav,
.header-icons .header-icon.active-nav
{
  margin-bottom: -1.5px;
  border-bottom: 3px solid var(--grayPrimary);
  color: var(--grayPrimary);
}

.header-icons {
  margin: auto 0;
  display: flex;
  //border-left: 1px solid var(--graySecondary);
}

.header-icon {
  //border-left: 1px solid var(--graySecondary);
  //border-right: 1px solid var(--graySecondary);
  padding: 22px 24px;
  height: 19px;
  width: 19px;
}

.display--none {
  display: none;
}
