<div class="product">
<div class="product-main">
  <h1 class="product-main-title">Hot prices</h1>
  <div class="product-main-arrow">
    <img src="assets/img/icons/arrow-prev-icon.svg" alt="">
    <img src="assets/img/icons/arrow-next-icon.svg" alt="">
  </div>
</div>

  <div class="cards">
    <div class="card">
      <img src="assets/img/phones/apple-iphone-xs/spacegray/00.jpg" alt="">
      <h2>Apple iPhone Xs 64GB Silver (iMT9G2FS/A)</h2>
      <div class="price-container">
        <div class="actual-price" >$799</div>
        <div class="old-price">$899</div>
      </div>

      <div class="card-info">
        <div class="card-info-container">
          <p>Screen</p>
          <p>5.8” OLED</p>
        </div>
        <div class="card-info-container">
          <p>Capacity</p>
          <p>64 GB</p>
        </div>
        <div class="card-info-container">
          <p>RAM</p>
          <p>4 GB</p>
        </div>
      </div>

      <div class="card-buttons">
        <div class="card-button-add">Add to card</div>
        <img src="assets/img/icons/heart-icon.svg" alt="">
      </div>
    </div>
  </div>
</div>
