h1  {
  font-size: 32px;
  font-weight: 700;
  word-wrap: break-word;
  color: var(--grayPrimary);
  margin-top: 40px;
}

.favorite {
  max-width: 1156px;
  margin: auto;
  padding: 0 30px;

  &-quantity {
    font-size: 14px;
    line-height: 21px;
    color: var(--graySecondary);
    margin-top: 10px;
  }

  &-waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 500;
      color: var(--graySecondary);
      max-width: 455px;
      text-align: center;
    }

    &-svg {
      width: 300px;
    }
  }
}


@media (max-width: 600px) {
  h1 {
    text-align: center;
  }

  .favorite {
    &-quantity {
      text-align: center;
    }

    &-waiting {
      margin-top: 50px;

      h2 {
        margin-top: 24px;
        font-size: 24px;
      }
    }
  }
}
