.sorting {
  margin-top: 40px;
  display: flex;

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &-name {
    color: var(--graySecondary);
    font-size: 12px;
    font-weight: 600;
  }

  &-icon-arrow {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 20px;
  background-position-x: calc(100% - 8px);
  cursor: pointer;
  border: 1px solid var(--gray);
  flex-shrink: 0;
}

.select {
  width: 176px;
  height: 40px;
  padding: 10px 12px;
}

:host ::ng-deep mat-paginator {
  z-index: 1;
}

:host ::ng-deep .mat-mdc-paginator-page-size-label {
  display: none;
}

:host ::ng-deep .mat-mdc-paginator-outer-container {
  width: 965px;
}

:host ::ng-deep .mat-mdc-paginator-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

