<div class="sorting">
  <div class="sorting-container">
    <p class="sorting-name">Sort by</p>
    <select name="select" class="select" (change)="sortArray($event)">
      <option value="age" selected>Newest</option>
      <option value="name">Alphabetically</option>
      <option value="price">Cheapest</option>
    </select>
  </div>

  <div class="sorting-container">
    <p class="sorting-name">Items on page</p>
    <select name="select" class="select" >
      <option value="all" selected>All</option>
      <option value="four">4</option>
      <option value="eight">8</option>
      <option value="sixteen">16</option>
    </select>
  </div>

</div>
