<div class="sorting">
  <div class="sorting-container">
    <p class="sorting-name">Sort by</p>
    <select
      id="selectSort"
      name="select"
      class="select"
      [(ngModel)]="selectedValues"
      (change)="onSelectionChange($event)"
    >
      <option value="age" selected>Newest</option>
      <option value="name">Alphabetically</option>
      <option value="price">Cheapest</option>
    </select>
  </div>

  <div class="sorting-container" *ngIf="allPhones" >
    <p class="sorting-name">Items on page</p>
    <mat-paginator [length]="allPhones.length"
                   [pageSize]="allPhones.length"
                   [pageSizeOptions]="[allPhones.length, 16, 8, 4]"
                   aria-label="Select page"
    >
    </mat-paginator>
  </div>

</div>
