<!--<app-loading *ngIf="isLoading"></app-loading>-->
<div class="phones">

<app-small-navigation></app-small-navigation>

<app-no-found-content *ngIf="(productSearchService.foundProducts$ | async) === true" class="noFoundContent"></app-no-found-content>

<div *ngIf="(productSearchService.foundProducts$ | async) === false">
    <h1>Mobile phones</h1>
    <p class="phones-quantity">{{ this.quantityPhones }} models</p>

    <app-sort-items-on-page></app-sort-items-on-page>

    <app-products
      [flexWrap]="true"
      [oldPrice]="true"
      (isLoadingChange)="isLoading = $event"
      (change)="onPageChange($event)"
      [marginTopClass]="'margin-top-small'"
    ></app-products>
  </div>
</div>



