/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css');

:root {
  --graySecondary: #89939A;
  --grayPrimary: #313237;
  --gray: #E2E6E9;
}

body, p, h1, h2, h3, h4, a {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 40px;
  margin-right: 45px;
  cursor: pointer;
}

html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
